
nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0px 200px;
    
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:"wdth" 100;

}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text{
    color:red;
}
nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
.dark-2{
    
    color: #474747;

}
nav ul li a{
    text-decoration: none;
}
.butt{
    border-radius: 5px;
background: rgb(253, 110, 10);
font-size: 15px;
font-weight: bold;
padding: 18px 35px;
color: white;
border: none;
}
.header{
    background-image: url(../developer.png),  url("../header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 220px;
}
.banner-content{
    max-width: 480px;
    
}
.banner-p{
    font-weight: 600px;
    font-size: 45px;
}

.banner-title{
    font-size: 68px;
font-weight: 700;

}
.banner-p2{
    color: rgb(117, 117, 117);

font-size: 14px;
font-weight: 400;

}
.image{
    
width: 470px;
height: 542px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about{
    border-radius: 10px;
    background: rgb(255, 248, 243);
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
}
.section-title{
    font-size: 28px;
font-weight: 700;
color: rgb(24, 24, 24);
}

.description{
    color: rgb(117, 117, 117);
    font-weight: 400;
    font-size: 15px;
}
.personal{
    display: flex;
    gap: 50px;
    justify-content: space-around;
    margin-top: 30px;
    
}
.all-about{
    background-color: white;
    gap: 30px;
}
.item-subtitle{
    font-weight: bold;
    color: rgb(117, 117, 117);

}

.item-title{
    color: rgb(117, 117, 117);

}

.skills{
    text-align: center;
}

.box{
    display: flex;
    gap: 20px;
}
.skill{
    border-radius: 5px;
    
    padding: 30px;
    box-shadow: 0px 6px 50px 0px   rgba(0, 0, 0, 0.06);
}
.resume-container{
    display: flex;
}

.section-title{
    text-align: center;
}