
nav{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0px 200px;
    
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:"wdth" 100;

}


.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text{
    color:red;
}
nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}
.dark-2{
    
    color: #474747;

}
nav ul li a{
    text-decoration: none;
}
.butt{
    border-radius: 5px;
background: rgb(253, 110, 10);
font-size: 15px;
font-weight: bold;
padding: 18px 35px;
color: white;
border: none;
}
.header{
    background-image: url(../developer.png),  url("../header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 220px;
}
.banner-content{
    max-width: 480px;
    
}
.banner-p{
    font-weight: 600px;
    font-size: 45px;
}

.banner-title{
    font-size: 68px;
font-weight: 700;

}
.banner-p2{
    color: rgb(117, 117, 117);

font-size: 14px;
font-weight: 400;

}
.image{
    
width: 470px;
height: 542px;

}